/* bg */

body {
    background-color: rgb(0, 0, 0);
    animation: transitionIn 1s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10deg);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* navbar */

.navbar-brand {
    font-family: casual;
    font-size: 32px;
    margin-left: 20px;
    color: white !important;
}

.navbar-brand span {
    color: #acacac;
}

.nav-link {
    margin-left: 20px;
    color: white !important;
    font-family: casual;
    letter-spacing: 2px;
}

.navbar-toggler-icon {
    background-color: white !important;
    border-radius: 5px;
}

.btn-primary {
    margin-left: 10px;
    background-color: black;
    border-color: rgb(192, 174, 16);
    font-family: casual;
    text-transform: capitalize;
}

.tombol:hover {
    background-color: rgb(192, 174, 16);
    border-color: #161616 !important;
}


/* Jumbotron */

.jumbotron {
    background-image: url(../img/jumbotron.jpg );
    background-size: cover;
    height: 340px;
    text-align: center;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.isi .display-4 {
    color: rgb(255, 234, 47);
    margin-top: -250px;
    text-align: center;
    font-weight: 100;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    font-size: 32px;
    font-family: mak;
    text-transform: lowercase;
}

.isi .display-4 span {
    font-weight: 500;
}

.isi .tombol2 {
    margin-left: 40%;
    text-transform: capitalize;
    border-radius: 40px;
    margin-top: 20px;
}

.tombol2:hover {
    background-color: rgb(192, 174, 16);
    border-color: #161616 !important;
}


/* Info Panel */

.info-panel {
    position: relative;
    background: rgba(225, 225, 225, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: 100px;
    padding: 30px;
}

.info-panel img {
    outline: #fff;
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.info-panel h4 {
    font-size: 16px;
    text-transform: lowercase;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(223, 223, 223);
    font-family: Casual;
}

.info-panel p {
    font-size: 14px;
    color: #919191;
    margin-top: -5px;
    font-weight: 200;
    text-transform: lowercase;
}


/* about */

.about {
    position: relative;
    text-align: justify;
    margin-top: 100px;
}

.about h3 {
    font-family: casual;
    color: rgb(192, 174, 16);
    padding-bottom: 5px;
    font-weight: 100;
    text-transform: lowercase;
    text-decoration: none !important;
}

.about p {
    color: #424242;
}


/* Personnel */

.title a h3 {
    color: rgb(192, 174, 16);
    font-family: casual;
    margin-top: 50px;
    margin-bottom: 20px;
}

.title a {
    text-decoration: none;
}

.personnel .isi h3 {
    color: rgb(192, 174, 16);
    font-family: mak;
    margin-top: 50px;
    margin-left: 10px;
    font-size: 80px;
    text-transform: lowercase;
}

.personnel .isi {
    margin-left: 5px;
    color: #424242;
}

.personnel .isi span {
    color: #acacac;
}

.personnel img {
    transition: .5s;
}

.personnel img:hover {
    filter: brightness(80%);
}

.cewe img {
    width: 750px;
    margin-top: 80px;
    margin-bottom: 40px;
}

.cewe h3 {
    margin-top: 250px;
    color: rgb(192, 174, 16);
    text-align: right;
    font-family: casual;
    font-size: 80px;
    text-transform: lowercase;
}

.cewe p {
    color: #424242;
    text-align: right;
    margin-top: 20px;
}

.cewe span {
    color: #acacac;
}


/* Gallery */

.wrapper {
    grid-template-rows: 50px;
}

.wrapper h3 {
    margin-bottom: 20px;
    font-family: casual;
    color: rgb(192, 174, 16);
    margin-top: 100px;
    margin-bottom: 20px;
}

.wrapper img {
    width: 100%;
    filter: grayscale(100%);
}

.wrapper img:hover {
    filter: brightness(100%);
    transition: .7s ease all;
}

.wrapper .btn {
    margin-top: 10px;
}


/* Workingspace */

.workingspace {
    margin-top: 120px;
    margin-left: 5px;
    text-align: center;
}

.workingspace h3 {
    font-size: 52px;
    font-weight: 50;
    text-transform: uppercase;
    margin-top: 50px;
    color: rgb(192, 174, 16);
    font-family: casual;
}

.workingspace h3 span {
    font-weight: 500;
}

.workingspace p {
    font-size: 18px;
    color: #acacac;
    font-weight: 200;
    margin: 30px 0;
}

.tombol-gallery {
    border-radius: 20px;
    border-color: rgb(192, 174, 16);
}


/* Testimonial */

.testimonial {
    margin-top: 200px;
    color: #919191;
}

.testimonial h5 {
    text-align: center;
    font-weight: 100;
    font-style: italic;
    font-size: 24px;
    margin-bottom: 30px;
}

.testimonial figure img {
    width: 60px;
    margin: 20px 10px 10px;
    opacity: 0.7;
}

.testimonial figure img.utama {
    width: 90px;
    height: 90px;
    opacity: 1;
    margin-top: 5px;
    font-style: normal;
}

.testimonial figure h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgb(192, 174, 16);
}

.testimonial figure p {
    font-size: 12px;
    color: #acacac;
    text-align: center;
    margin-top: -25px;
}


/* Media Icon */

.media-icons {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 100px;
}

.media-icons a {
    position: relative;
    color: #acacac;
    font-size: 25px;
}

.media-icons a:not(:last-child) {
    margin-right: 60px;
}

.media-icons a:hover {
    transform: scale(1.5);
    color: rgb(192, 174, 16);
}


/* Footer */

.footer {
    margin-top: 20px;
}

.footer p {
    color: #acacac;
    font-size: 16px;
}


/* Utility */

.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}


/* Desktop */

@media (min-width: 992px) {
    .navbar-brand,
    .nav-link {
        color: #fff !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 5);
        margin-left: -20px;
    }
    .navbar-brand span {
        color: #fff;
    }
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
        color: white !important;
        text-transform: capitalize;
    }
    .btn-primary {
        background-color: black;
        border-color: rgb(192, 174, 16) !important;
        text-transform: capitalize;
    }
    .btn-primary:hover {
        content: '';
        background-color: rgb(192, 174, 16);
    }
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #161616;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    .jumbotron {
        margin-top: -75px;
        height: 740px;
    }
    .info-panel {
        margin-top: 350px;
    }
    .cewe img {
        width: 550px;
        margin-top: 200px;
        margin-left: 10px;
    }
    .cewe h3 {
        margin-right: -70px;
    }
    .cewe p {
        margin-left: 230px;
    }
    .isi .display-4 {
        font-size: 62px;
        margin-bottom: 20px;
    }
    .isi h1 {
        margin-top: -550px !important;
    }
    .workingspace {
        margin-left: -5px;
        text-align: left;
    }
    .testimonial h5 {
        font-size: 32px;
    }
}